.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;

  font-size: 4.2rem;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  border-radius: 0.8rem;
  padding: 1.2rem;
}

.menuLink:hover {
  filter: brightness(50%);
  cursor: pointer;
  color: aliceblue;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
