.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding-top: 3.2rem;
}
.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  gap: 0.3rem;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
