.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
